.result-admin-nav {
    background-color: white;
    min-height: 100vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
    padding: 0 25px;
    width: 100%;
}

.result-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.add-result button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #1367ff;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 8px;
    text-wrap: nowrap;
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
}

.add-result button:hover {
    transform: translateY(-2px);
}

#resultTable {
    padding-top: 50px;
    border: none;
}

.result_form {
    width: 100%;
    height: 100%;
    padding: 50px 15px;
}

.add_result_text {
    padding: 0 0 25px 0;
    font-size: 34px;
    font-weight: 500;
}

.update_result_text {
    padding: 0 0 25px 0;
    font-size: 34px;
    font-weight: 500;
}

/* result form CSS */

.result_text {
    font-size: 32px;
    font-weight: 500;
}

.result_alert {
    width: 45%;
    margin-bottom: 20px;
    margin-left: -5px;
}

/* Select Level */ 

.select_level {
    display: flex;
    flex-direction: column;
}

.select_level label {
    font-size: 17px;
    font-weight: 400;
    padding-left: 5px;
}

.select_level input {
    border: 1px solid #928e8e;
    padding: 5px 10px;
    border-radius: 5px;
}

.select_level textarea {
    border: 1px solid #928e8e;
    padding: 5px 10px;
    border-radius: 5px;
}

.select_level input:focus {
    outline: none;
}

/* .select_post_category {
    display: flex;
    flex-direction: column;
}

.select_post_category label {
    font-size: 17px;
    font-weight: 400;
    padding-left: 5px;
}

.select_post_category input {
    border: 1px solid #928e8e;
    padding: 5px 10px;
    border-radius: 5px;
}

.select_post_category textarea {
    border: 1px solid #928e8e;
    padding: 5px 10px;
    border-radius: 5px;
}

.select_post_category input:focus {
    outline: none;
}

.form_control input:focus-within {
    border: #24634b;
    box-shadow: 0 0 8px rgba(11, 94, 80, 0.7);
    transition: 0.2s ease;
} */

/* Table Code  */

/* .table_cell img {
    object-fit: cover;
    height: 100px;
} */

/* Filter Bar */

/* .filter-bar {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
} */

/* .category_select,
.post_select,
.result_select {
    width: 23%;
}

.filter-select-wrapper {
    border: 1px solid #928e8e;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

.filter-select-wrapper select {
    width: 100%;
}

.filter-select-wrapper select:focus {
    outline: none;
}

.filter-bar .btn {
    align-self: center;
}

.filter-bar .btn button {
    align-self: center;
    color: #fff;
    background-color: #1367ff;
    padding: 8px 15px;
    border: 1px solid #c3ced6;
    border-radius: 5px;
    font-weight: 500;
}

.filter-bar .btn button:hover {
    transform: translateY(-2px);
    padding: 10px 17px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
} */

/* search input */

/* .input_container {
    border-radius: 5px;
    border: 2px solid rgb(185, 179, 179);
    padding: 0 12px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
}

.input_container input {
    width: 100%;
    padding: 5px;
}

.input_container span {
    font-size: 18px;
}

.input_container i {
    position: absolute;
    right: 15px;
    top: 8px;
    align-self: center;
}

.input_container input:focus{
    outline: none;
}

.input_container:hover span i{
    display: none;
}

.input_container:focus-within {
    border: #24634b;
    box-shadow: 0 0 8px rgba(11, 94, 80, 0.7);
    transition: 0.2s ease;
}

.input_container:focus-within span i{
     display: none;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
} */