.post_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 100vh;
    background-color: white;
    color: black;
    gap: 20px;
    padding: 25px 50px;
}

/* img {
    width: 100px;
    height: 100px;
    } */

.side_column_text {
    z-index: 0;
    background-color: #FF4AAB;
    display: flex;
    justify-content: start;
    text-align: center;
    transform: skewX(-15deg);
    align-self: flex-start;
}

.side_column_text h2 {
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 8px 15px;
}

/* Category Post */

.category_posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: fit-content;
}

.category_post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.post_card {
    cursor: pointer;
}

.post_text {
    color: black;
    z-index: 98;
    bottom: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    padding: 10px;
}

.post_category{
    color: gray;
}


.category_post_image {
    position: relative;
    overflow: hidden;
    /* aspect-ratio: 16 / 9; */
}

/* .post_card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0));
    z-index: 1;
} */

.post_card img {
    object-fit: cover;
    width: 100%;
    transition: all 0.5s ease;
}

.category_post_text {
    font-size: 24px;
    font-weight: 500;
}

.post_card:hover img {
    transform: scale(1.1);
}

.post_card:hover .post_text h1 {
    color: #FF4AAB;
}


.most_tested {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
    /* align-items: center; */
}

.tested_posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.most_tested_posts {
    display: flex;
    gap: 15px;
    cursor: pointer;
    justify-content: flex-start;
}

.tested_post_image {
    overflow: hidden;
    width: 180px;
    flex-shrink: 0;
    /* aspect-ratio: 16 / 9; */
}

.tested_post_image img {
    object-fit: cover;
    transition: all 0.5s ease;
}

.tested_post_category {
    font-size: 13px;
    color: gray;
    font-weight: 500;
}

.tested_post_desc {
    font-size: 18px;
    font-weight: 500;
}

.most_tested_posts:hover img {
    transform: scale(1.1);
}

.most_tested_posts:hover .tested_post_desc h1 {
    color: #FF4AAB;
}

/* #form{
    display: flex;
    justify-content: start;
} */

@media (max-width:1600px){
    .category_post{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1250px) {

    .post_container {
        padding: 25px 20px;
    }

    .category_post_text {
        font-size: 22px;
    }

    .post_text {
        bottom: 20px;
    }

    .tested_post_desc {
        font-size: 14px;
    }
}

@media (max-width: 1150px) {

    .category_post_text{
        font-size: 24px;
    }

    .category_post{
        grid-template-columns: 1fr;
    }

    .post_container {
        grid-template-columns: 2fr 1.5fr;
    }

    .category_posts {
        grid-column: 1;
        grid-row: 1;
    }

    .most_tested {
        align-items: start;
        grid-column: 2;

    }
}

@media (max-width:1000px){
    .most_tested{
        margin-left: 20px;
    }
}

@media (max-width:750px) {

    .most_tested{
        margin-left: 0;
    }

    .post_container {
        grid-template-columns: 1.5fr 1fr;
        gap: 0;
        grid-auto-rows: min-content;
    }

    .post_category {
        grid-column: 1;
        grid-row: 1;
    }

    .category_post_text {
        line-height: 1.2;
    }

    .most_tested {
        margin-top: 20px;
        padding-left: 25px;
    }
}

@media (max-width:650px){

    .post_container{
        grid-template-columns: 1fr;
    }

    .category_posts{
        grid-column: 1;
        grid-row: 1;
    }
    
    .category_post{
        grid-template-columns: 1fr;
    }

    .most_tested{
        grid-column: 1;
        margin-left: 0px;
    }

}

@media (max-width:520px) {

    .post_category {
        font-size: 14px;
    }

    .category_post_text {
        font-size: 20px;
    }

    .post_text {
        bottom: 10px;
    }
}

@media (max-width:450px) {
    .side_column_text h2 {
        font-size: 18px;
    }
}