html,
body {
    min-width: 100%;
    min-height: 100%;
    background: white;
    color: black;
    padding-top: 40px;
}

body::-webkit-scrollbar {
    width: 0;
}

/* main nav Bar  */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fefefe;
    z-index: 99;
}

.web_logo {
    display: flex;
    padding: 12px 0 12px 70px;
}

.web_logo img {
    width: 120px;
}

.nav_item {
    height: 100%;
    display: flex;
}

.nav_item ul {
    height: 100%;
    display: flex;
    gap: 35px;
    font-size: 18px;
    padding-right: 30px;
    /* changes */
    font-weight: 500;
}

.nav_menu_icon li {
    display: flex;
    align-items: center;
}

.nav_item .nav_menu i {
    font-size: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    cursor: pointer;
}

.nav_item i:first-child {
    padding-top: 1px;
}

.nav_item .ri-menu-3-line {
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
    display: none;
}

.nav_link{
    height: 100%;
}

/* 
.nav_link:hover{
    color: rgb(255, 131, 131);
    transition: all 0.5s ease;
} */

.ri-facebook-circle-line:hover {
    color: #1877F2;
    filter: drop-shadow(0 16px 16px darkblue);
}

.ri-whatsapp-line:hover {
    color: #25D366;
    filter: drop-shadow(0 16px 16px darkgreen);
}

.ri-instagram-line:hover {
    color: rgb(255, 99, 125);
    filter: drop-shadow(0 16px 16px darkred);
}

/* Category Nav Bar */

.category_nav {
    display: flex;
    /* background-color: rgb(255, 204, 157); */
}

.category_nav ul {
    width: 100%;
    color: #fffaf5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 15px;
    font-weight: 500;
    font-size: 18px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.category_nav ul::-webkit-scrollbar {
    height: 6px;
    width: 10px;
    /* background-color: blue; */
    cursor: pointer;
}

.category_nav ul::-webkit-scrollbar-track {
    background: transparent;
}

.category_nav ul::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
    cursor: pointer;
}

.category_nav ul::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/* sidebar */

.sidebar {
    width: 200px;
    background-color: brown;
    position: fixed;
    z-index: 99;
    top: 80px;
    right: -200px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    text-align: center;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-track {
    background: #4a0e0e;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #d48282;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #ffd6d6;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar li {
    transition: all 0.3s ease;
    text-align: start;
}

.sidebar li a {
    padding: 20px 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar li:hover {
    background-color: darkred;
}

@media (max-width:1320px) {
    .nav_item ul {
        gap: 25px;
        padding-right: 20px;
    }
}

@media (max-width:1250px) {
    .nav_item .nav_menu_icon .ri-menu-3-line {
        display: block;
    }

    .nav_item ul.nav_menu {
        display: none;
    }

    .category_nav{
        display: none;
    }
}

@media (max-width:800px) {

    .web_logo {
        padding: 12px 0 12px 30px;
    }

    .nav_item ul {
        padding-right: 30px;
    }

    .sub-nav-bar {
        display: none;
    }
}

@media (max-width:550px) {
    .web_logo {
        padding: 12px 0 12px 10px;
    }

    .nav_item ul {
        padding-right: 10px;
    }

    .nav_item .nav_menu_icon .ri-menu-3-line {
        display: block;
    }

    .nav_item ul.nav_menu {
        display: none;
    }
}